.btn {
  background-color: var(--usual-element-color);
  border: none;
  color: var(--light-text-color);
  padding: 0.5em 1em;
  text-align: center;
  text-justify: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 8px;
  font-family: "Merriweather", serif;
}

.input-field {
  background-color: var(--lighter-bg-color);
  border: 1px solid var(--usual-element-color);
  border-radius: 8px;
  padding: 0.5em;
  width: 100%;
  font-size: 1rem;
  font-family: "Merriweather", serif;
}
