.vacancy-search-results__panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  min-width: 600px;
  height: 75vh;
  border-radius: 8px;
}

.vacancy-search-results__container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 100%;
  width: 100%;
  overflow: scroll;
}

.vacancy-search-results__heading {
  font-size: 2.5rem;
  color: var(--primary-text-color);
  font-family: "Playfair display", serif;
}

.vacancy-search-results__loading-msg {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  color: var(--primary-text-color);
  font-family: "Playfair display", serif;
  margin: auto;
}

.vacancy-search-results__msg {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  color: var(--primary-text-color);
  font-family: "Playfair display", serif;
  margin: auto;
}

.vacancy-search-results__loading-spinner {
  margin-block: auto;
  animation: spin 1s ease-out infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
