.home__navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  margin-inline: auto;
  margin-top: 1rem;
  gap: 2rem;
  width: 100%;
}

.home__navbar-link-list {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.home__navbar-link {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--primary-text-color);
  font-size: 1.2rem;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.home__navbar-link-li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4em;
  width: 8em;
  transition: scale 0.5s ease-in-out;
}

.home__navbar-link:hover {
  scale: 1.1;
}

.home__navbar-link-li--active {
  color: var(--primary-text-color);
}
.home__navbar-link-li--active:hover {
  scale: 1.1;
  cursor: pointer;
}

.home__navbar-link-li--inactive {
  color: var(--usual-element-color);
}
.home__navbar-link-li--inactive:hover {
  scale: 1;
  cursor: default;
}

.navbar-arrow-back {
  position: absolute;
  left: 2rem;
  margin-block: auto;
}
