.ok-button {
  background-color: var(--ok-color);
  padding-inline: 2em;
}

.dialog {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.msg {
  color: var(--primary-text-color);
  font-size: 1.2rem;
  text-align: center;
  font-family: "Merriweather", serif;
}
